<h1>Logins#secret</h1>
<h2>Secret Page for entering bsb</h2>
<%= form_with(@secret,url: "/logins/create", method: "post") do %>
  <%= label_tag(:bsb, "Enter your bsb details") %>
  <%= text_field_tag(:secret) %>
  <%= submit_tag("Submit") %>
<% end %>
